  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mb-3 me-3">
    <div class="d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      </a>
      <span class="text-muted">
        © 2023 Horseshoe Bay Resort
        <p style="font-size:12px;">Site Developed by Joshua Muth</p>
      <p style="font-size:8px;">This site is in no way supported or endorsed by Forbes Travel Guide. All trademarked materials, names, or logos are property of their respective owners.</p>
      </span>
    </div>
  </footer>
