{% if login_status == True %}
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
      <img src="/static/hsbr-logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      HSBR Forbes™ Training Site
    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/sessions">All Sessions</a>
            <a class="nav-link" href="/mysessions">My Sessions</a>
            <a class="nav-link" href="/sign-in">Session Sign-In</a>
            <a class="nav-link" href="/">Home</a>
          </div>
        </div>
      </div>
    </nav>
    <div style="height:75px"></div>
  </header> 
{% endif %}

{% if login_status == False %}
  <header>
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/hsbr-logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      HSBR Forbes™ Training Site
    </a>
  </div>
</nav>
  </header>
{% endif %}