<!DOCTYPE html>
<html lang="en-US">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" type="image/ico" href="static/favicon.ico">
    <style>
      
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {% include 'header.html' %}
    <div class="container">
      <h1 class="display-5 text-center">Please login to access this site.</h1>
      <p class="lead text-center">This site will provide a guide to all of the training going on at Horseshoe Bay Resort. You can view all trainings, the trainings you are signed up for, and sign in for a training session to track your attendance.</p>
      <br>
      <form action="" method="post">
        <div class="">
          <div class="pb-3">
            <p class="lead"><b>Employee ID:</b></p>
            <input type="text" placeholder="Employee ID (Ex: 56743)" name="EmpID" value="{{request.form.username }}" class="p-1">
          </div>
          <div class="">
            <p class="lead"><b>What year were you born?</b></p>
            <input type="text" placeholder="Year of Birth: (Ex: 1997)" name="BirthYear" value="{{request.form.password }}" class="p-1">
          </div>
        </div>
        <input class="btn btn-outline-success mt-4 center-text" type="submit" value="Login">
      </form>
      {% if error %}
        <div class="h4 pb-2 mb-4 mt-4 text-danger border-top border-danger">
          <p class="error"><strong>Error:</strong> {{ error }}
        </div>
      {% endif %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>