<!DOCTYPE html>
<html lang="en-US">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" type="image/ico" href="static/favicon.ico">
    <style>
      
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {% include 'header.html' %}
    <div class="container">
      <h1 class="display-5 text-center"></b>{{session['ClassName']}}</h1>
      <h2 class="display-8 text-center">Session Information</h2>
      <p><b>Class Date:</b> {{session['ClassDate']}}</p>
      <p class=""><b>Start Time:</b> {{session['ClassStartTime']}}</p>
      <p class=""><b>End Time:</b> {{session['ClassEndTime']}}</p>
      {% if attended %}
        <span class="border border-3 p-2 border-success rounded-pill" style="background-color:#6fb36b;">You have attended this session!</span><br><br>
      {% else %}
        <span class="border border-3 p-2 border-danger rounded-pill" style="background-color:#ff6969;">You have not attended this session.</span><br><br>
      {% endif %}
      <h4 class="display-8 text-left">Class Description:</h4>
      <p class="lead text-center">{{session['ClassDescription']}}</p>
      <hr>
      <p>Not seeing a class marked as completed that you were in attandance for? Please reach out to Joshua Muth (jmuth@hsbresort.com) and we can get that corrected!</p>
      <div class=" d-grid gap-2 col-6 mx-auto">
      <a href="javascript:history.back()" type="button" class="btn btn-primary btn-md">Go Back</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>